<html lang="en" ng-app="app">
	<head>
		<title>Bunny App</title>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<div ng-controller="MainController">
			<h1 >{{message}}</h1>
		</div>
		
		<div ng-controller="bunnyTestConntroller">
			<h1 >{{message1}}</h1>
		</div>
		
		<div ng-controller="bunnyServiceConntroller">
			<h1></h1>
		</div>
		
		<div ng-controller="bunnyServiceClassConntroller">
			<h1></h1>
		</div>
		
		<div ng-controller="bunnyFactoryConntroller">
			<h1>{{myFactoryMessage}}</h1>
		</div>
		
	</body>
</html>